
<div class="product_searchbox">
	<form id="product_search" name="product_search" action="page.cgi">
		<input id="product_filter" type="text" name="product_filter">
		<input type="submit" name="psubmit" value="Search product name">
		<input type="submit" name="psubmit" value="Search product description">
		<input id="id" type="hidden" name="id" value="prodzandplanz/search_result.html">
	</form>
</div>
