[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): 
  #   Francois Barriere <francois@barriere-smithson.net>
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
           title = "bug/versions"
           subheader = subheader
 %]

<h2 class="bz_alias_short_desc_container"><a href="show_bug.cgi?id=[% bug_id %]">Bug [% bug_id %]</a>: [% short_desc %]</h2>

<form>
	<input type="hidden" name="id" value="prodzandplanz/bug_versions.html"/>
	<input type="hidden" name="bug_id" value="[% bug_id %]"/>
	<table class="product_listing">
		<tr>
			<th>Also in this version</th>
			<th>Not in this version</th>
		</tr>
		[% FOREACH v = versions_map.keys %]
		<tr>
			[% IF versions_map.$v %]
				<td>[% v %] (<a href="show_bug.cgi?id=[% versions_map.$v %]">Bug [% versions_map.$v %]</a>)</td>
				<td></td>
			[% ELSE %]
				<td></td>
				<td><input type="checkbox" name="version" value="[% v %]" />[% v %]</td>
			[% END %]
		</tr>
		[% END %]
	</table>
	<input type="submit" value="update"/>
</form>

[% PROCESS global/footer.html.tmpl %]
 