[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): 
  #   Francois Barriere <francois@barriere-smithson.net>
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
           title = "Product planning"
           subheader = subheader
 %]

<h2>Product [% product.name %]:</h2>

[% product.description %]

[% FOREACH v = versions %]
	<h3>Milestone [% v.version.name %]</h3>
	<div progress_plan">
		<table class="progressbar">
			<tr>
				[% IF v.pc_done > 0 %]
				<td class="progress_done" style="width: [% v.pc_done %]%"></td>
				[% END %]
				[% IF v.pc_done < 100 %]
				<td class="progress_todo"></td>
				[% END %]
			</tr>
		</table>
		[% v.pc_done %]% : [% v.num_closed %] (closed) +  [% v.num_opened %] (open) / [% v.num_total %] (total)
	</div>
	<ul>
		[% FOREACH b = v.closed %]
			<li>
				<a href="show_bug.cgi?id=[% b.id %]">[% b.id %]</a>: 
				[% IF b.isopened %]
					<span class="planning_open">
				[% ELSE %]
					<span class="planning_closed">
				[% END %]
				[% b.short_desc %]
				</span>
			</li>
		[% END %]
		[% FOREACH b = v.opened %]
			<li>
				<a href="show_bug.cgi?id=[% b.id %]">[% b.id %]</a>: 
				[% IF b.isopened %]
					<span class="planning_open">
				[% ELSE %]
					<span class="planning_closed">
				[% END %]
				[% b.short_desc %]
				</span>
			</li>
		[% END %]
	</ul>
[% END %]

[% PROCESS global/footer.html.tmpl %]
