[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): 
  #   Francois Barriere <francois@barriere-smithson.net>
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
           title = "Product description"
           subheader = subheader
 %]

<h2>Product [% product.name %]:</h2>

[% product.description %]

<h3>Components</h3>

<table class="product_listing">
	<tr>
		<th>Component name:</th>
		<th>Component description:</th>
		<th>Default assignee</th>
	</tr>
	[% FOREACH c = product.components %]
	<tr>
		<td class="product_description">[% c.name %]</td>
		<td class="product_description">[% c.description %]</td>
		<td class="product_description"><a href="mailto:[% c.default_assignee.email %]">[% c.default_assignee.name %]</a></td>
	</tr>
	[% END %]
</table>

<h3><a href="page.cgi?id=prodzandplanz/product_versions.html&product=[% product.name %]">Versions</a></h3>
[% FOREACH v = versions %]
	<a class="past_versions" href="buglist.cgi?product=[% product.name %]&version=[% v.name %]">[% v.name %]</a>, 
[% END %]

<h3><a href="page.cgi?id=prodzandplanz/product_planning.html&product=[% product.name %]">Milestones</a></h3>
[% FOREACH m = milestones %]
	<a class="futur_versions" href="buglist.cgi?product=[% product.name %]&target_milestone=[% m.name %]">[% m.name %]</a>, 
[% END %]


[% PROCESS global/footer.html.tmpl %]
